<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>URL History Report</h1>
  <ol>
    <% @urls.each do |url| %>
      <li><%= url %></li>
    <% end %>
  </ol>
</body>
</html>